@import './iconfont';
@import './scrollbar';
@import './function';
@import './mixin';

$border: 1.5px;
$border-color: #dcdfe6;
$hover-color: #eff5fe;
$remove-color: #fd9b9b;

.json-form__wrapper {
    display: flex;
    font-size: 25px;
    font-weight: 300;
    border: $border solid $border-color;
    user-select: none;
    .json-form__side-bar {
        width: 60px;
        flex: 0 0 auto;
        border-right: $border solid $border-color;
        .icon {
            padding: 5px;
            text-align: center;
            cursor: pointer;
            @include hover($hover-color);
        }
        .icon-add-row {
            font-size: 50px;
        }
        .icon-add-col {
            font-size: 50px;
        }
        .icon-remove-row {
            font-size: 45px;
        }
        .icon-remove-col {
            font-size: 45px;
        }
        .icon-export {
            font-size: 45px;
        }
    }
    .json-form__main {
        width: inherit;
        overflow: scroll;
        @include scrollbar;
        .json-form {
            display: table;
            border-collapse: collapse;
            &__top-bar {
                display: table-header-group;
                cursor: pointer;
                &__col {
                    @include hover($hover-color);
                    border-top: 0 !important;
                    white-space: nowrap;
                }
            }
            &__data-area {
                display: table-row-group;
                &__row {
                    display: table-row;
                    div[contenteditable] {
                        word-break: keep-all;
                    }
                }
                .row--hover {
                    @include hover($hover-color);
                }
            }
            .col {
                display: table-cell;
                border: $border solid $border-color;
                max-width: 250px;
                padding: 10px 8px;
                vertical-align: middle;
                overflow-wrap: break-word;
                &:first-child {
                    border-left: 0;
                }
            }
            .row--remove,
            .col--remove {
                cursor: grab;
                @include remove($remove-color);
            }
        }
    }
    .message-box__wrapper {
        position: fixed;
        width: inherit;
        height: inherit;
        background-color: #0000001c;
        display: flex;
        justify-content: center;
        align-items: center;
        .message-box {
            width: 300px;
            min-height: 150px;
            padding: 10px;
            font-size: 20px;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            header {
                font-size: 25px;
                padding-bottom: 10px;
            }
            main {
                padding: 10px 5px;
                display: flex;
                flex-direction: column;
                label {
                    display: flex;
                    align-items: center;
                    padding-bottom: 25px;
                    position: relative;
                    select {
                        width: 200px;
                        padding: 3px 5px;
                        font-size: inherit;
                        border: $border solid $border-color;
                    }
                    input,
                    div[contenteditable] {
                        width: 190px;
                        min-height: 30px;
                        font-size: 20px;
                        padding: 0 5px;
                        border-radius: 5px;
                        border: $border solid $border-color;
                        cursor: text;
                        letter-spacing: 1px;
                    }
                    .advice {
                        position: absolute;
                        bottom: 0;
                        margin: 0;
                        color: #f74343;
                        left: 70px;
                    }
                    .data-component {
                        width: 190px;
                        padding-bottom: 6px;
                    }
                }
            }
            footer {
                display: flex;
                justify-content: center;
                .button {
                    $confirm-color: #409eff;
                    $cancel-color: #f55c5c;
                    border-radius: 5px;
                    padding: 5px 15px;
                    margin: 0 20px;
                    cursor: pointer;
                    &--confirm {
                        @include button($confirm-color);
                    }
                    &--cancel {
                        @include button($cancel-color);
                    }
                    &.disabled:hover {
                        color: #fff;
                        background-color: $cancel-color;
                        border: 1px solid $cancel-color;
                    }
                }
            }
        }
    }
}

//choiceBox.svelte
$deg: 45deg;
$w: 36px;
$h: 2 / 3 * $w;
$check-mark-width: 1 / 10 * $w;
$check-mark-color: #57f19a;

$width: ($w - $h * tan($deg)) / cos($deg);
$height: $h / cos($deg);

.choice-box {
    width: $w;
    height: $h;
    margin: 0 auto;
    border: $border solid $border-color;
    border-radius: 50%;
    cursor: pointer;
    .check-mark {
        visibility: hidden;
        box-sizing: border-box;
        width: $width;
        height: $height;
        border-right: $check-mark-width solid $check-mark-color;
        border-top: $check-mark-width solid $check-mark-color;
        transform-origin: top left;
        transform: translate(1 / 12 * $w, $h - $w * tan($deg) + $h * tan($deg) * tan($deg)) scaleY(-1) rotate(-$deg);
    }
    .show {
        visibility: visible;
        animation: show 0.6s ease;
    }
}

@keyframes show {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: $width;
        height: 0;
    }
    100% {
        width: $width;
        height: $height;
    }
}

//colorPicker.svelte
.pickr {
    display: flex;
    justify-content: center;
}
